@import '../../styles/colors';

.home {
  .currency-card-container {
    padding: 0px 8px;
  }

  .no-currency {
    font-style: italic;
    color: grey;
  }

  button {
    background: $color-orange;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  input {
    border-radius: 4px;
    border: solid 1px $border;
    padding: 8px 12px;

    &:focus {
      outline: none;
    }
  }
}